*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.products::-webkit-scrollbar{
    display: none;
}

.categories::-webkit-scrollbar{
    display: none;
}

.populars::-webkit-scrollbar{
    display: none;
}

.shader{
    background: linear-gradient(to right bottom, #69628a, #040309);
}
.product{
    max-width: 68vw;
    height: auto;
    word-wrap: wrap;
}
.mt-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-bottom: 2.5rem;
}